
.MuiDrawer-paper {
  transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}


.MuiDrawer-paper::-webkit-scrollbar {
  width: 8px;
}

.MuiDrawer-paper::-webkit-scrollbar-track {
  background: transparent;
}

.MuiDrawer-paper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.MuiDrawer-paper::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

